.cover {
    margin: 0 auto;

    width: 100%;
    min-height: 740px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    position: relative;
}

@media screen and (max-width: 1279px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        width: 100%;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        width: 100%;
        min-height: 200px;
    }
}