.lead__caption {
    margin: 0 auto;
    padding-top: 8px;

    font-size: 10px;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    width: 100%;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        width: calc(100% - 16px*2);
    }
}
