.cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;

    opacity: 1;

    width: 560px;
    margin: 0;
    padding-bottom: 32px;

    position: relative;
    z-index: 3;
}

.cover__title:last-child {
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;

        width: 250px;

        padding-bottom: 16px;
    }
}